{erl_opts, [debug_info]}.
{src_dirs, ["src", "test"]}.

{deps, [
    {lager,   ".*", {git, "https://github.com/basho/lager",          {tag, "2.1.1"}}},
    {iso8601, ".*", {git, "https://github.com/erlsci/iso8601",       {tag, "1.2.3"}}},
    {sync,    ".*", {git, "https://github.com/rustyio/sync",         {branch, "master"}}},
    {eper,    ".*", {git, "https://github.com/massemanet/eper",      {branch, "master"}}},
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse", {tag, "v4.2.4"}}},
    {cowboy,  ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.7"}}},
    {jiffy,   ".*", {git, "https://github.com/davisp/jiffy",         {branch, "master"}}},
    {epgsql,  ".*", {git, "git://github.com/chef/epgsql-1.git",      {branch, "master"}}},
    {eper,    ".*", {git, "git://github.com/massemanet/eper.git",    {branch, "master"}}},
    {jsonpath, ".*",{git, "git://github.com/GeneStevens/jsonpath",   {branch, "master"}}},
    {uuid,    ".*", {git, "git://github.com/okeuday/uuid.git",       {branch, "master"}}}
]}.

{relx, [
    {release, {dv, "0.0.1"}, [dv, sasl]},
    {config, "./config/app.config"},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, true},
    {extended_start_script, true}
]}.

{plugins, [{rebar3_autotest, "0.1.1"}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, false}]}]}]}.

{shell, [{config, "./config/app.config"}]}.