[
    {dv, [
        {db, [{host, "localhost"},
              {username, "davidliman"},
              {password, ""},
              {database, "amp"},
              {timeout, 5000},
              {req_timeout, 5000}]},

        {twilio, []},
        {sendgrid, []}
    ]},

    {lager, [
        {colored, true},
        {log_root, "/tmp/log/dv"},
        {handlers, [
            {lager_file_backend,
                [{file, "server.log"},
                 {level, info},
                 {formatter, lager_default_formatter},
                 {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", module, ": ", message, "\n"]}]}
        ]}
    ]}
].
